<div class="p-3">
    <div>
        <button [routerLink]="['/home/advisers-registered']" routerLinkActive="active" class="btn-advisers-registered btn mb-2"><span><i class="fas fa-users"></i></span> Asesores registrados</button>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-content-center">
            <div class="col-12 d-flex justify-content-center">
                <form class="row" [formGroup]="formRegistroAsesor">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Nombre(s)<b style="color: red;">*</b></label>
                        <input formControlName="nombre" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['nombre'].invalid && (formRegistroAsesor.controls['nombre'].dirty || formRegistroAsesor.controls['nombre'].touched)"
                            class="form-text" style="color: red;">Nombre inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Apellido paterno<b style="color: red;">*</b></label>
                        <input formControlName="ape_pat" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['ape_pat'].invalid && (formRegistroAsesor.controls['ape_pat'].dirty || formRegistroAsesor.controls['ape_pat'].touched)"
                            class="form-text" style="color: red;">Apellido paterno inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Apellido materno<b style="color: red;">*</b></label>
                        <input formControlName="ape_mat" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['ape_mat'].invalid && (formRegistroAsesor.controls['ape_mat'].dirty || formRegistroAsesor.controls['ape_mat'].touched)"
                            class="form-text" style="color: red;">Apellido materno inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Domicilio<b style="color: red;">*</b></label>
                        <input formControlName="domicilio" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['domicilio'].invalid && (formRegistroAsesor.controls['domicilio'].dirty || formRegistroAsesor.controls['domicilio'].touched)"
                            class="form-text" style="color: red;">Dirección inválida</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Colonia<b style="color: red;">*</b></label>
                        <input formControlName="colonia" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['colonia'].invalid && (formRegistroAsesor.controls['colonia'].dirty || formRegistroAsesor.controls['colonia'].touched)"
                            class="form-text" style="color: red;">Colonia inválida</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Código postal<b style="color: red;">*</b></label>
                        <input formControlName="cp" type="number" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['cp'].invalid && (formRegistroAsesor.controls['cp'].dirty || formRegistroAsesor.controls['cp'].touched)"
                            class="form-text" style="color: red;">Código postal inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>CURP<b style="color: red;">*</b></label>
                        <input style="text-transform:uppercase" (keyup)="curpUpperCase()" formControlName="curp" type="text" class="form-control">
                        <small class="form-text text-muted">Consulta tu CURP <a href="https://www.gob.mx/curp/"
                                target="_blank">aquí</a></small>
                        <small
                            *ngIf="formRegistroAsesor.controls['curp'].invalid && (formRegistroAsesor.controls['curp'].dirty || formRegistroAsesor.controls['curp'].touched)"
                            class="form-text" style="color: red;">CURP inválida</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>RFC<b style="color: red;">*</b></label>
                        <input style="text-transform:uppercase" (keyup)="rfcUpperCase()" formControlName="rfc" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['rfc'].invalid && (formRegistroAsesor.controls['rfc'].dirty || formRegistroAsesor.controls['rfc'].touched)"
                            class="form-text" style="color: red;">RFC inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Teléfono de contacto<b style="color: red;">*</b></label>
                        <input formControlName="telefono" type="number" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['telefono'].invalid && (formRegistroAsesor.controls['telefono'].dirty || formRegistroAsesor.controls['telefono'].touched)"
                            class="form-text" style="color: red;">Teléfono inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Correo electrónico<b style="color: red;">*</b></label>
                        <input formControlName="email" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['email'].invalid && (formRegistroAsesor.controls['email'].dirty || formRegistroAsesor.controls['email'].touched)"
                            class="form-text" style="color: red;">Correo inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Municipio<b style="color: red;">*</b></label>
                        <input formControlName="municipio" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['municipio'].invalid && (formRegistroAsesor.controls['municipio'].dirty || formRegistroAsesor.controls['municipio'].touched)"
                            class="form-text" style="color: red;">Municipio inválido</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Localidad<b style="color: red;">*</b></label>
                        <input formControlName="localidad" type="text" class="form-control">
                        <small class="form-text text-mute
                        d">Ej. Ejido, Congregación, Ciudad, etc</small>
                        <small
                            *ngIf="formRegistroAsesor.controls['localidad'].invalid && (formRegistroAsesor.controls['localidad'].dirty || formRegistroAsesor.controls['localidad'].touched)"
                            class="form-text" style="color: red;">Localidad inválida</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Escuela o institución<b style="color: red;">*</b></label>
                        <input formControlName="escuela" type="text" class="form-control">
                        <small
                            *ngIf="formRegistroAsesor.controls['escuela'].invalid && (formRegistroAsesor.controls['escuela'].dirty || formRegistroAsesor.controls['escuela'].touched)"
                            class="form-text" style="color: red;">Escuela o institución inválida</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Facebook</label>
                        <input formControlName="facebook" type="text" class="form-control">
                        <small class="form-text text-muted">Opcional</small>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label>Twitter</label>
                        <input formControlName="twitter" type="text" class="form-control">
                        <small class="form-text text-muted">Opcional</small>
                    </div>
                    <div class="form-group col-12">
                        <label>Descripción de su participación en el desarrollo del proyecto<b
                                style="color: red;">*</b></label>
                        <textarea formControlName="descripcion" type="text" class="form-control"
                            style="max-height: 200px; min-height: 100px;"> </textarea>
                        <small class="form-text text-muted">Máximo 1000 caracteres</small>
                        <small
                            *ngIf="formRegistroAsesor.controls['descripcion'].invalid && (formRegistroAsesor.controls['descripcion'].dirty || formRegistroAsesor.controls['descripcion'].touched)"
                            class="form-text" style="color: red;">Descripción inválida</small>
                    </div>
                    <div class="col-12">
                        <button (click)="registrarAsesor()" [disabled]="!formRegistroAsesor.valid"
                        class="btn btn-primary boton-iniciar">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>