<div class="p-3">

    <div class="subtitle">
        <h4>Asesores registrados</h4>
    </div>
<hr>
<table class="table table-hover">
    <thead class="table-light">
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Correo</th>
            <th>Sede</th>
            <th>Descripción</th>
            <th>Opciones</th>
        </tr>
    </thead>

    <tr class="table" *ngFor="let i of asesores">
        <td>{{i.nombre}}</td>
        <td>{{i.ape_pat}}</td>
        <td>{{i.ape_mat}}</td>
        <td>{{i.email}}</td>
        <td>{{i.sede}}</td>
        <td>
            <div class="scroll">
                {{i.descripcion}}
            </div>
        </td>
        <td class="d-flex">
            <button (click)="openSwal(i)" class="btn btn-edit mr-3"><i class="fas fa-edit"></i></button>
            <button (click)="setAsesor(i)" class="btn btn-danger mr-3" data-toggle="modal" data-target="#modalEliminar"><i
                class="fas fa-trash-alt"></i></button>
            <button class="btn btn-primary" (click)="saveAsPdf(i)"><i class="fas fa-download"></i></button>
        </td>
    </tr>
</table>


<!-- Modal Eliminar -->
<div class="modal fade" id="modalEliminar" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <h4>¿Desea eliminar <span *ngIf="asesorActual" class="text-name-remove">{{asesorActual.nombre}}</span>?</h4>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <button class="btn btn-secondary mr-4" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-danger" data-dismiss="modal" (click)="deleteAsesor()">Eliminar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <swal #swalid title="Editar Autor" [showConfirmButton] ="false" [swalOptions]="{width: '700px'}">
        <div *swalPortal class="container-fluid">
            <div class="row justify-content-center align-content-center">
                <div class="col-12 d-flex justify-content-center">
                    <form class="row" [formGroup]="formAsesores">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Nombre(s)<b style="color: red;">*</b></label>
                            <input formControlName="adviser_name" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['adviser_name'].invalid && (formAsesores.controls['adviser_name'].dirty || formAsesores.controls['adviser_name'].touched)"
                                class="form-text" style="color: red;">Nombre inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Apellido paterno<b style="color: red;">*</b></label>
                            <input formControlName="last_name" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['last_name'].invalid && (formAsesores.controls['last_name'].dirty || formAsesores.controls['last_name'].touched)"
                                class="form-text" style="color: red;">Apellido paterno inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Apellido materno<b style="color: red;">*</b></label>
                            <input formControlName="second_last_name" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['second_last_name'].invalid && (formAsesores.controls['second_last_name'].dirty || formAsesores.controls['second_last_name'].touched)"
                                class="form-text" style="color: red;">Apellido materno inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Domicilio<b style="color: red;">*</b></label>
                            <input formControlName="address" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['second_last_name'].invalid && (formAsesores.controls['second_last_name'].dirty || formAsesores.controls['second_last_name'].touched)"
                                class="form-text" style="color: red;">Dirección inválida</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Colonia<b style="color: red;">*</b></label>
                            <input formControlName="suburb" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['suburb'].invalid && (formAsesores.controls['suburb'].dirty || formAsesores.controls['suburb'].touched)"
                                class="form-text" style="color: red;">Colonia inválida</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Código postal<b style="color: red;">*</b></label>
                            <input formControlName="postal_code" type="number" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['postal_code'].invalid && (formAsesores.controls['postal_code'].dirty || formAsesores.controls['postal_code'].touched)"
                                class="form-text" style="color: red;">Código postal inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>CURP<b style="color: red;">*</b></label>
                            <input style="text-transform:uppercase" (keyup)="curpUpperCase()" formControlName="curp" type="text" class="form-control">
                            <small class="form-text text-muted">Consulta tu CURP <a href="https://www.gob.mx/curp/"
                                    target="_blank">aquí</a></small>
                            <small
                                *ngIf="formAsesores.controls['curp'].invalid && (formAsesores.controls['curp'].dirty || formAsesores.controls['curp'].touched)"
                                class="form-text" style="color: red;">CURP inválida</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>RFC<b style="color: red;">*</b></label>
                            <input style="text-transform:uppercase" (keyup)="rfcUpperCase()" formControlName="rfc" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['rfc'].invalid && (formAsesores.controls['rfc'].dirty || formAsesores.controls['rfc'].touched)"
                                class="form-text" style="color: red;">RFC inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Teléfono de contacto<b style="color: red;">*</b></label>
                            <input formControlName="phone_contact" type="number" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['phone_contact'].invalid && (formAsesores.controls['phone_contact'].dirty || formAsesores.controls['phone_contact'].touched)"
                                class="form-text" style="color: red;">Teléfono inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Correo electrónico<b style="color: red;">*</b></label>
                            <input formControlName="email" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['email'].invalid && (formAsesores.controls['email'].dirty || formAsesores.controls['email'].touched)"
                                class="form-text" style="color: red;">Correo inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Municipio<b style="color: red;">*</b></label>
                            <input formControlName="city" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['city'].invalid && (formAsesores.controls['city'].dirty || formAsesores.controls['city'].touched)"
                                class="form-text" style="color: red;">Municipio inválido</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Localidad<b style="color: red;">*</b></label>
                            <input formControlName="locality" type="text" class="form-control">
                            <small class="form-text text-muted">Ej. Ejido, Congregación, Ciudad, etc</small>
                            <small
                                *ngIf="formAsesores.controls['locality'].invalid && (formAsesores.controls['locality'].dirty || formAsesores.controls['locality'].touched)"
                                class="form-text" style="color: red;">Localidad inválida</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Escuela o institución<b style="color: red;">*</b></label>
                            <input formControlName="school_institute" type="text" class="form-control">
                            <small
                                *ngIf="formAsesores.controls['school_institute'].invalid && (formAsesores.controls['school_institute'].dirty || formAsesores.controls['school_institute'].touched)"
                                class="form-text" style="color: red;">Escuela o institución inválida</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Facebook</label>
                            <input formControlName="facebook" type="text" class="form-control">
                            <small class="form-text text-muted">Opcional</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Twitter</label>
                            <input formControlName="twitter" type="text" class="form-control">
                            <small class="form-text text-muted">Opcional</small>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <label>Adjuntar credencial de elector<b style="color: red;">*</b></label>
                            <input type="file" (change)="uploadAdviserIneImg($event.target.files)" class="form-control" #image_ine>
                        </div>
                        <div class="form-group col-12">
                            <label>Descripción de su participación en el desarrollo del proyecto<b
                                    style="color: red;">*</b></label>
                            <textarea formControlName="participation_description" type="text" class="form-control"
                                style="max-height: 200px; min-height: 100px;"> </textarea>
                            <small class="form-text text-muted">Máximo 1000 caracteres</small>
                            <small
                                *ngIf="formAsesores.controls['participation_description'].invalid && (formAsesores.controls['participation_description'].dirty || formAsesores.controls['participation_description'].touched)"
                                class="form-text" style="color: red;">Descripción inválida</small>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">Proyecto:</label>
                                <select formControlName="id_proyectos" class="form-control">
                                    <option [value]="proyecto.id_proyectos" *ngFor="let proyecto of proyectos">
                                        {{proyecto.nombre}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <button (click)="editarAsesor()" [disabled]="!formAsesores.valid"
                            class="btn btn-primary boton-iniciar">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </swal>
</div>