<!-- swal tabla informacion -->
<swal class="swal-wide" #swalid3 title="Activar Plataforma" [swalOptions]="{customClass: 'clase'}" [showConfirmButton]="false">
    <div *swalPortal>
        <form [formGroup]="formFecha">
            <div class="col-md-6 mb-3">
                <label for="fechaNac">Fecha de Inicio</label>
                <input formControlName="fechaInicio" type="date" placeholder="Fecha de Inicio" class="form-control" id="fechaI" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="fechaNac">Fecha de Fin</label>
                <input formControlName="fechaFin" type="date" placeholder="Fecha de Fin" class="form-control" id="fechaF" required>
            </div>
        </form>
        <button (click)="subirFechas()">Confirmar</button>
    </div>
</swal>

<div class="p-3">
    <div class="d-flex justify-content-between">
        <a [routerLink]="['/home/admins-registered']" routerLinkActive="active" class="btn-judges-registered btn mb-2">
            <span><i class="fas fa-balance-scale"></i></span> Enlaces registrados</a>
        <!-- <a class="btn-judges-registered btn mb-2" (click)="mostrarSwal($event)">
            <span><i class="fas fa-balance-scale"></i></span> ESTABLECER FECHAS</a> -->
    </div>
    <div class="container-fluid color">
        <div class="row ">
            <div class="col-xs-12 col-md-6 d-flex align-items-center justify-content-center">
                <div class="z  d-flex align-items-center justify-content-center">
                    <img src="assets/cotacytResources/icons/add_judge.svg" class="img" alt="">
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="tamano d-flex align-items-center justify-content-center p-5">
                    <form [formGroup]="formsRegistroJuez">
                        <h5 class="titulo font-weight-bold">Registrar enlace</h5>
                        <div class="form-group">
                            <label for="">Usuario:</label>
                            <input type="text" class="form-control" formControlName="usuario" placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group">
                            <label for="">Nombre:</label>
                            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del enlace">
                        </div>
                        <div class="form-group" *ngIf="superUser">
                            <label for="">Tipo:</label>
                            <select class="form-control" formControlName='rol' disabled>
                                <option value="admin">Enlace</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Sede:</label>
                            <select formControlName="id_sedes" class="form-control" [attr.disabled]="superUser ? null: 'disabled'">
                                <option [value]="sede.id_sedes" *ngFor="let sede of sedes">{{sede.sede}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Contraseña:</label>
                            <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña">
                        </div>

                        <button [disabled]="!formsRegistroJuez.valid" class="btn btn-primary boton-iniciar" (click)="registrarJuez()">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
